
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.App {
  flex-direction: column;
  display: flex;
  text-align: center;
  
  
}
.event {
  flex-direction: row;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}


.links {
  font-family: 'Courier New', Courier, monospace;
  
  text-decoration-line: none;
  color: black;
  text-align: center;
  
}
.Nav {
 text-align: center;
  display: flex;
  flex-direction: column;
  
}
